<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title> Indian National Autism Registry </title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="Indian National Autism Registry" />
	<meta name="keywords" content="Indian National Autism Registry. Online Survey. Partners I.A.N, A.F.A" />
	<link rel="stylesheet" type="text/css" href="screen.css" media="screen" />
</head>
<body>
<div id="header"><img style="float: left;" img="" src="includes/ourlogo.jpg" width="125" border="0" height="100" alt="Action For Autism" />&gt;
<div style="float: left;">
<h1>Indian National Autism Registry</h1>
<p>Enabling Autism Research. Empowering autistic population</p>
</div>
<ul>
<li><a href="http://"><span>About Us</span></a></li>
<li><a href="http://"><span>Register</span></a></li>
<li><a href="http://"><span>Login</span></a></li>
</ul>
</div>
<div class="colmask leftmenu">
<div class="colleft">
<div class="col1"><!-- Column 1 start -->
<h2>Welcome to INAR!</h2>
<p>By sharing your experiences and knowledge, you'll help researchers and advocates as they fight to improve the lives of those with ASD. So please contribute by filling out a survey!</p>
<h3>How can you contribute to this registry?</h3>
<dl><dt><strong>Register</strong></dt><dd>You just need to visit <a href="register.php">Registration page</a></dd><dd>Enter valid email-id and verify security image</dd><dt><strong>Check email</strong></dt><dd>Check your inbox for an invitation to the current survey</dd><dd>Click your invitation link which will direct you to it</dd><dt><strong>Complete the survey!</strong></dt><dd>And you are done!</dd></dl><!-- Column 1 end --></div>
<div class="col2"><!-- Column 2 start -->
<ul>
<li><a href="about_us.php">About Us</a></li>
<li><a href="contact_us.php">Contact Us</a></li>
<li><a href="why_inar.php">Why Participate? </a></li>
</ul>
<div id="ads"><a href="http://www.autism-india.org/"> <img src="includes/logo1.jpg" width="125" border="0" height="125" alt="Action For Autism" /> </a> <a href="http://ianproject.com/"> <img src="includes/logo2.png" width="250" border="0" height="150" alt="Interactive Autism Network" /> </a></div>
<!-- Column 2 end --></div>
</div>
</div>
<div id="footer">
<p><a href="contactus.php">Contact Us</a> <a href="http://ianproject.com">I.A.N</a> <a href="http://www.autism-india.org">A.F.A</a></p>
</div>
</body>
</html>