div#header
{
width:100%;
background:#F0F8FF;
overflow: hidden;
margin:0;
}
div#header ul{	
	  
		width:100%;
		list-style:none;
		margin:0;
		padding-left:1%;
                border-top:1px solid #F6EAFA;
                border-bottom:1px solid grey;

		
	}
	div#header ul li {
		display:inline;
		list-style:none;
		margin:0;
		padding:0;
                line-height:1.4em;
	}

	div#header ul li a 
	{
		margin:0;
                padding: 0.05em 1em;
		text-align:center;
		font-size:115%;
	        background:#d7ecff;
		text-decoration:none;
		line-height:1.4em;
                color:black;
                font-weight:bold;
	}
       div#header ul li a:hover
	{
	background:#FFFFE0;
	color:maroon;
	}
       div#header ul li a.active
	   {
        background:#FFFFE0;
        color:DarkGreen;
        }

#content_inner_wrapper label{
display:block;
margin-bottom:0.2em;
color:black;
}
#content_inner_wrapper form
{
text-align:center;
padding:0.5em;
}
#content_inner_wrapper label span
{
padding-right:0.5em;
}
.errr
{
text-align:center;
padding:0.5em;
color:maroon;
}